<h2>Napi Page</h2>

{{#if napis.length}}
<ul>
  {{#each napis}}
    <li class="napi">
      <form action="/complete" method="POST">
        <label>
          {{#if completed}}
            <input type="checkbox" checked name="completed">
            <span class="completed">{{title}}</span>
          {{else}}
            <input type="checkbox" name="completed">
            <span>{{title}}</span>
          {{/if}}

          <input type="hidden" value="{{_id}}" name="id">

          <button class="btn btn-small" type="submit">Save</button>
        </label>
      </form>
    </li>
  {{/each}}
</ul>
{{else}}
<p>Apis is empty!</p>
{{/if}}